body{
    background-color: aquamarine;
}

.wrapper {
}

.container {
    width: 1200px;
    margin: auto; 
    padding-right: 10px;
    padding-left: 10px;

    background-color: antiquewhite;
}

.sidebar{
    width: 400px;
    float: left;

}

.content{
    width: 800px;
    height: 150px;
    float: right;
}

.clear {
    clear: both;
}

#logo {
    float: left;
    width: 200px;
    height: auto;
    padding: 20px;
}

#logo img {
    max-width: 100%;
    height: auto;
}

#menu {
    padding-top: 60px;
    padding-bottom: 60px;
    float: right;
    width: 960px;
}
#menu li {
    float: left;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}
#menu li a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet ;
    font-size: 20px;
    font-weight: 20px;
    text-decoration: none;
}
.blog-content {
    float: left;
    max-width: 380px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.blog-content img {
    weight: 100%;
    height: 180px; 
    object-fit: cover;
}
.recent-article {
    padding-left: 10px;
    padding-right: 10px;
}
.recent-article ul {    
    padding: 0;
    margin: 0;
    list-style: none;
}