#tabel-sayur {
    border-collapse: separate;
    background-image:url(pemandangan.jpg);
    background-size: 300%;
    background-repeat: no-repeat;
}

.link {
    color: maroon;
    text-decoration: underline;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: blueviolet;

}

